<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/stylesaya.css">
    <title>Register</title>


</head>
<body class="hold-transition layout-boxed skin-red sidebar-mini sidebar-collapse">
<div class="wrapper">
    <header class="p-3 mb-2 bg-primary text-white">
        <img src="static/image/del.jpg" width="75px" align="left">
                <h5 style="font-size: 23px"><b>SPMB IT DEL</b></br></h5>
    </header>
  
    <div class="content-wrapper">
        <section class="content-menu" id="content-menu">
             <div class="module-menu-container"></div>
                
        </section>
            
       
        <!-- Main content -->
        <section class="content" id="main-content">
                <div class='page-header'>
                    </div>
                        <div class="row ">
                                                <div id="content-grid-group-browse" class="col-sm-12">
                                                    <div class="box box-solid ">
                                                        <div class="box-header with-border">
                                                            <i class="fa fa-history"></i>

                        <div class='row'> 		
                            <div id="content-grid-group-browse" class="col-sm-12">
                                 <div class="box box-solid ">
                                   <div class="box-header with-border">
                                         <h3 class="box-title"><center>Register</center></h3><br>
                                     </div>
                                    
                                     <div class="col-sm-2"></div>
                                     <div class="col-sm-8">

                                     <form action="/uploadBursar" method="POST" enctype="multipart/form-data">
                                        <fieldset>
                                            
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Email</label>
                                                <div class="col-sm-8">
                                                  <input type="text" class="form-control" name="period" id="period">
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Nama</label>
                                                <div class="col-sm-8">
                                                  <input type="text" name="total" id="total" class="form-control">
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label class="col-sm-4 col-form-label" >Password</label>
                                                <div class="col-sm-8">
                                                  <input type="password" name="spp" id="spp" class="form-control">
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Konfirmasi Password</label>
                                                <div class="col-sm-8">
                                                  <input type="password" name="asrama" id="asrama" class="form-control">
                                                </div>
                                              </div>
                                              
                                                
                                              </div>

                                              <!-- <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Status</label>
                                                <div class="col-sm-8">
                                                  <input type="text" name="status" id="status" class="form-control">
                                                </div>
                                              </div> -->

                                              
                                              
                                                <div class="col-sm-8">
                                                  <input type="submit" name="submit" value="Register" class="btn btn-primary" >
												 
												  
                                                </div>
												
                                              </div>
                                                                                    
                                        </fieldset>
                                    </form></div>
                                    <div class="col-sm-2"></div>
                                    <br>
                                </div>
                        </div></div>

                        
    
        <tbody>
            
                    
                
    
        </tbody></table></div></small>
        </div></div></div>
        </div>

        </section>
        </div>
   <footer>
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0        
        </div><br><br><br>
        <strong>Campus Information Sistem (CIS) Copyright &copy;</strong> 
    </footer>
    </body>
</html>